<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    android:sharedUserId="com.example.telus.androidsample11">

    <uses-permission
        android:name="android.permission.USE_CREDENTIALS"
        tools:node="remove" />

    <application>

    </application>

</manifest>
